html
   head
       script(src="/javascripts/jquery-1.8.2.js")
       script.
        function activitycheck(_id){
          alert(_id);
        }
body
 table
   each user in users
      tr
         td
          ul 
             li #{user._id}
             li #{user.email}
             li #{user.isactive}
             li #{user.password}
             input#activity(type="checkbox" onclick='activitycheck(#{user._id})') 